<div class="heading">
  <h3>About</h3>
</div>
<div class="content">
  <div class="left">
    <%= image_tag "brian.jpg", class: "contact-image" %>
  </div>
  <h3>What's the meaning of it all?</h3>
  <p>If you're asking about life, the answer to that question probably won't be found on this website. If you're asking about the site, it Turns out maintaining a website is a great way to enter the engineering industry.  By learning a few basic skills earlier on, my future will be fascinating.</p>
  <h3 class="center">Wait, is this even Brian?</h3>
  <p>It is now. After very poor training, I can type stuff into these spaces and that's basically the extent of my abilities.</p>
</div>
