<div class="heading">
  <h3>
    Contact Brian
  </h3>
</div>
<div class="content">
  <div class="leftcolumn">
    <%= image_tag "brian.jpg", class: "contact-image" %>
  </div>
  <div class="rightcolumn">
    <p>
      This website is meant to build my skills and also my web presence.  If you have any questions or like my resume, let me know!
    </p>
    <p>
      <a href="mailto:biprats@gmail.com" target="_blank">biprats@gmail.com</a>
    </p>
  </div>
  <div class="clear"></div>
</div>
