<div class="heading">
  <h3>
    Current Project
  </h3>
</div>
<div class="content">
  <p>
     What am I up to you may ask? This is it.
  </p>
  <ul>
    <li>Producing <a href="http://www.cwlrwn.com">Counting With Letters Reading With Numbers</a></li>
    <li>Physics Olympics</li>
    <ul>
      <li>Physics Test the Song</li>
        <ul>
          <li><a href="<%= asset_path 'physics_test.wav' %>">Song</a></li>
          <li><a href="<%= asset_path 'lyrics.doc' %>">Lyrics</a></li>
        </ul>
    </ul>
  </ul>
</div>
