<div class="heading">
  <h3>
    Resume
  </h3>
</div>
<div class="content">
  <p>
    I'm really good at picking up ladies, but not these ones:
  </p>
  <ul>
    <li>Hope</li>
    <li>Jenny</li>
    <li>Betsy</li>
    <li>Grace</li>
  </ul>
</div>
