<div class="footer">
  <div class="center">
      <a class="left" href="mailto:biprats@gmail.com" target="_blank">Email</a>
      <a target="_blank" href="https://twitter.com/PinkyAndThBrian">Twitter</a>
      <a class="right" target="_blank" href="http://instagram.com/brianprats">Instagram</a>
  </div> 
  <div class="love">
    Made with <%= link_to "Love", "http://tomprats.com/love"%>
  </div>
</div>
